<div id="div-home" class="bg-ppal">
    <div class="row text-center">
        <div class="col-md-12">
            <!--<img src="https://i.ytimg.com/vi/nuMraJv3-CA/hqdefault.jpg" alt="happy-birthday">-->
            <h1 class="texto-felix-cumple">Feliz Cumpleaños</h1>
            <h1 class="texto-felix-cumple">Mi Vida</h1>

        </div>

        <div class="col-md-12">
            <img src="https://st.depositphotos.com/1007566/54660/v/450/depositphotos_546600842-stock-illustration-happy-birthday-postcard.jpg"
                alt="" width="90%">
        </div>

    </div>
    <div class="row">
        <div class="col-md-12 text-right">
            <a class="btn-izq" href="#/message"><button class="btn btn-primary"><i class="fa fa-arrow-circle-down"></i></button></a>
        </div>
    </div>

</div>