<div class="bg-internales">
    <div class="row">
        <div class="col-md-12">
            <a href="#/options" class="btn-back"><button class="btn btn-primary"><i class="fa fa-arrow-circle-left"></i></button></a>
        </div>
    </div>
    <div class="row text-center">
        <div class="d-flex justify-content-center texto-felix-cumple">
            <h1>¡El Mundo Nos Espera!</h1>
        </div>
        <div class="col-md-12">
            <div id="cnt-message" class="d-flex justify-content-center cnt-message">
                <p class="text-msg">
                    Vamos! Tengamos nuestra primera aventura por el mundo. Exploremos nuevos lugares y dejemonos sorprender de lo desconocido. 
                </p>
            </div>
        </div>
        <div class="col-md-12">
            <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/E289/production/_107139975_gettyimages-1140108046.jpg"
                alt="" width="90%">
            
        </div>
        <div class="col-md-12">
            <img src="https://i.ytimg.com/vi/2IDfVUjYK4A/maxresdefault.jpg" alt="" width="90%">
        </div>
    </div>

    

</div>