<div class="bg-messages">
    <div class="row">
        <div class="col-md-12">
            <a href="#/" class="btn-back"><button class="btn btn-primary"><i
                        class="fa fa-arrow-circle-left"></i></button></a>
        </div>

    </div>

    <div class="row">
        <div class="d-flex justify-content-center texto-title">
            <h1>Luisa Fernanda</h1>
        </div>
        <div class="col-md-12">
            <div class="d-flex justify-content-center cnt-message">
                <p class="text-msg">
                    Hoy festejamos por el cumpleaños de una mujer esplendida, especial y maravillosa.
                    Por eso hoy quiero celebrar un año mas de vida y amor junto a ti y disfrutar de las cosas bellas que
                    la vida nos ha entregado.
                </p>
            </div>
            <div class="d-flex justify-content-center texto-title">
                <p>Muchas Felicidades</p>
            </div>

            <div class="d-flex justify-content-center texto-title">
                <p>¡Disfrutalo!</p>


            </div>

        </div>

    </div>

    <div class="row">
        <div class="col-md-12 text-right">
            <a id="btn-izq" href="#/options" class=""><button class="btn btn-primary"><i
                        class="fa fa-arrow-circle-down"></i></button></a>
        </div>
    </div>




</div>