<div class="bg-options">
    <div class="row">
        <div class="col-md-12">
            <a href="#/message" class="btn-back"><button class="btn btn-primary"><i class="fa fa-arrow-circle-left"></i></button></a>
        </div>
        
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex justify-content-center texto-title">
                <h3>¡Sorpresaaa!</h3>
            </div>
            <div  class="d-flex justify-content-center cnt-message">
                <p class="text-msg"> 
                    Como se lo mucho que te gusta conocer lugares, he preparado esto para ti.    
                </p>
            </div>
            <div class="d-flex justify-content-center">
                <p>Asi que....</p>
            </div>

            <div class="d-flex justify-content-center cnt-message">
                <p class="text-msg">
                    Ve empacando tu maleta y preparate para escoger nuestra siguiente aventura.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="btns-colombia"> 
                <a href="#/nacional" class="btn btn-primary"><i class="fa fa-arrow-circle-down"></i> | Colombia</a>
            </div>
            <div class="btns-mundo">
                <a href="#/internal" class="btn btn-primary"><i class="fa fa-arrow-circle-down"></i> | Resto del Mundo</a>
            </div>
        </div>
    </div>
</div>






