<div class="bg-options">
    <div class="row">
        <div class="col-md-12">
            <a href="#/options" class="btn-back"><button class="btn btn-primary"><i class="fa fa-arrow-circle-left"></i></button></a>
        </div>
        
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex justify-content-center texto-title">
                <h3>¡Vamos a Disfrutar!</h3>
            </div>

            <div class="d-flex justify-content-center cnt-message">
                <p class="text-msg">
                    Te mereces mucha felicidad por eso....
                    Ve empacando tu maleta y preparate para escoger nuestra siguiente aventura.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-right">
            <button id="btn-show-div" class="btn btn-primary btn-izq"><i
                        class="fa fa-arrow-circle-down"></i></button>
        </div>
        <div id="btns-selection" class="col-md-12" style="display: none;">

            <div class="d-flex justify-content-center texto-title">
                <h5>¡Llego el momento de elegir!</h5>
            </div>
            <div class="btns-colombia"> 
                <a href="#/nacional" class="btn btn-primary"><i class="fa fa-arrow-circle-down"></i> | Colombia</a>
            </div>
            <div class="btns-mundo">
                <a href="#/internal" class="btn btn-primary"><i class="fa fa-arrow-circle-down"></i> | Resto del Mundo</a>
            </div>
        </div>
    </div>
</div>







